<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Social Sentiment</title>/Users/adriandsouza25/Downloads/favicon_io/favicon.ico
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
    {% block scripts %}{% endblock %}

  <div id="sidebar">
    <button id="toggle">☰</button>
    <ul>
        <li><a href="{{ url_for('overview')  }}">Overview</a></li>
        <li><a href="{{ url_for('charts')    }}">Charts & Analysis</a></li>
        <li><a href="{{ url_for('sentiment') }}">Sentiment Analysis</a></li>
    </ul>
        
  </div>

  <div id="content">{% block content %}{% endblock %}</div>

</body>
</html>
